@use 'styles/variables' as *;
@use 'styles/themes';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background: var(--surface-bg);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
}

.mat-mdc-form-field {
  width: 100%;
}

.mdc-button.mat-mdc-unelevated-button:not(:disabled) {
  background-color: var(--brand-primary);
}
